body {
  background: linear-gradient(bisque, rgb(201, 80, 100));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 2, 67);
  padding: 30px;
}

.heading-text {
  text-align: center;
  color: rgb(228, 129, 146);
}

.selections {
  display: flex;
  padding: 70px 0px;
  justify-content: space-evenly;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 45vh;
  background-color: rgb(22, 2, 67);
  border: 3px solid darkgray;
  border-radius: 10%;
  color: bisque;
}

.selection .h3 {
  padding: 0px;
  margin: 0px;
}

.selection .icon .fa-regular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transform: scale(2);
}

.insult-selection {
}

.compliment-selection {
}

.bombshell-selection {
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 80, 100);
  height: 30px;
  width: 80px;
  border: 2px solid gray;
  border-radius: 10px;
  color: rgb(22, 2, 67);
  text-decoration: none;
}

.button:hover {
  background-color: rgb(226, 91, 113);
  border: 1px solid black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(226, 91, 113);
  border-radius: 10px;
  width: 30%;
  position: relative;
  top: 20%;
  transition: all 3s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: rgb(22, 2, 67);
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(22, 2, 67);
}
.popup .close:hover {
  color: bisque;
}
